body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}
.mainSection{
    width: 100vw;
    height: 100vh;
    background: center/cover url(https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&w=400);
}
h1{
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar{
    padding: 0% 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: fixed;
    background-color: whitesmoke;
    width: 96vw;
    transition: all .35s;
}
.active{
    background-color: black;
    color: orangered;
}
.active a{
    color: whitesmoke;
}
#logo{
    font-size: 1.5em;
}
.navLink{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}